.center{
    @include flex(row,center);
    flex-wrap: wrap;
}
.start{
    @include flex(row,start);
    flex-wrap: wrap;
}
.courceAndClass{
    height: 64px;
    background-color: #8DDC97;
    border-radius: 2px;;
    margin: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #222222;

    .coursesTab, .classesTab{
        border: none;
        background-color: hsla(0, 0%, 100%, 0);
        *{
            margin:0px 5px;
        }
        span{
            font-size: 24px;
            font-weight: bold;
        }
        p{
            font-size: 16px;
        }
    }
    .coursesTab{
        border-bottom: 4px solid #222222;
    }
}

.sorting{
    display: flex;
    margin: 0px 24px;
    border-bottom: 2px solid rgb(0, 0, 0, .2);
    padding-bottom: 15px;
    height: 28px;
    p{
        margin: 0px ;
        @include flex(column,end);
        @include text(12px,$mediumtext,inherit);
    }
    img{
        width: 12px;
    }
    .sorthere{
        margin-left: auto;
        select{
            width: 165px;
        }
        .drop_down{
            @include text(12px,$mediumtext,inherit);
        }
    }
}


.coursesContainer{
    margin:24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(476px, 1fr));
    justify-content: center;
    grid-gap:24px;
    .courseCard{
        position: relative;
        background-color: #FFFFFF;
        border-radius: 2px;
        display: grid;
        grid-template-columns:132px 2fr;
        grid-template-rows:157px 1fr;
        grid-gap:16px;
        padding:24px 24px 9px 24px ;
        z-index: 0;
        .cradImg{
            grid-area: 1/1/span 1/span 1;
            
        }
        .cardBody{
            grid-area: 1/2/span 1/span 1;
            display: flex;
            flex-direction: column;
            justify-content:start;
            overflow: hidden;
            .courseName{
                padding:5px 0px;
                @include text(16px,$mediumtext,inherit);
                p{
                    width: 90%;
                }
                img{
                    margin-left: auto;
                }
            }
            .subjectAndGrade{
                padding:5px 0px;
                @include text(12px,$mediumtext,$graytext);
                @include flex(row,start);
                p:nth-child(1){
                    margin-right: 9px;
                    
                }
                p:nth-child(2){
                    padding-left : 9px;
                    border-left: 1px solid #666666;
                }
            }
            .unitsLessonsTopics{
                padding:5px 0px;
                @include text(12px,$mediumtext,$graytext);
                div{
                    margin-right:18px
                }
                div:nth-child(3){
                    margin-right: auto;
                    
                }
            }
        }
        .expired{
            background: #FFE4E6;
            position: absolute;
            top:0px;
            border-radius: 2px;
            @include text(10px,$mediumtext,red);
            padding:2px 5px;
        }
        .cardLinks{
            grid-area: 2/1/-1/-1;
            display: flex;
            justify-content: space-around;
            align-content: center;
            border-top: 2px solid #00000012;
            padding-top:9px;
        }
    }
}

select{
    padding:5px 0px;
    text-decoration: none;
    @include text(16px,$mediumtext,$blacktext);
    border: none;;
    border-bottom: 1px solid #00000012;
    background-color: #22222200;
}

.fourty-opacity{
    opacity: 40%;
    color: $fortytext;
}

@media only screen and (max-width: 1024px) {
    .coursesContainer{
        grid-template-columns: 1fr 7fr 1fr;
    }
    
    .courseCard{
        min-width: 550px;
        grid-column: 2;
    }
  }

