

.flexColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.loginContainer{
    display: grid;
    grid-template-columns: 1fr 490px 1fr;
    form{
        grid-column: 2;
        background-color: #FFFFFF;
        @include flex(column,center);
        padding: 20px 32px;
        margin-top: 50px;
        margin-bottom: 32px;
        border-top: 4px solid #3AC7EC;
        border-radius: 2px;
        height: min-content;
        @include text(16px,$mediumtext,$blacktext);

    }
}
.heading{

    width: 100%;
    @include text(24px,$mediumtext,$blacktext);
    @include flex(row,center);
    margin-bottom: 34px;
    i{
       /* margin-right: auto; */
       color: $greentext;
    }
    p{
        margin: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}
.loginButton{
    padding: 11px 85px ;
    background-color: $headertext;
    border: none;
    border-radius: 2px;
    @include text(14px,$mediumtext,$blacktext);
    box-shadow: #0000003D 0 3px 5px;
    margin-top: 20px;
}


.feild{
    padding: 24px 0px;
    label{
        @include text(12px,$mediumtext,$graytext);

    }
    input,select{
        text-decoration: none;
        @include text(16px,$mediumtext,$blacktext);
        border: none;
        border-bottom: 1px solid #00000012;
    }
    a{
        @include text(14px,$mediumtext,$greentext);
        text-decoration: none;
        margin-left: auto;
    }
}

.radio{
    width: 100%;
    @include flex(row,start);
    label{
        margin-right: 32px;
    }
    input{
        margin-right: 8px;
    }
}

.rememberMeContainer{
    width: 100%;
    @include flex(row,start);
    margin: 10px 0px;
    label{
        margin: 0px 5px;
    }
}
