$bodybg : #EEEEEE;
$headerbg: #25313F;
$footerbg: #E0E1E1;
$blacktext: #222222;
$greentext: #1F7A54;
$headertext:#3FD28B;
$graytext: #616161;
$fortytext:rgba(0, 0, 0, 0.4);
$regulartext: 400;
$mediumtext: 500;
$boldtext: 700;
